{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Estonian-Slovak dictionary</h1>
    {{ word }}
    {{ entry.est_word }}

    <div class='container'>
      <table class="table">
        <thead>
          <tr>
        <th>Slovak words</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for item in entry.svk_words %}
              <td> {{ item }} </td>
            {% endfor %}
          </tr>

      </table>
    </div>

    <a href="{{ url_for('dict_intro') }}">Back</a>
{% endblock %}
